/*CSS*/

/*웹 CSS*/

@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css); font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Sans KR', sans-serif;



body{margin: 0px;
padding:0px;
width: 100vw;

}

h1{
text-align: center;
}

.first {
background-image: url('firstbg.jpg');
         background-color: #161616;
         background-repeat: repeat;
         background-size: 50%;
width: 100%;
height:180px;
position: absolute;
top:0px;
left:0px;
right:0px;
border: 2px solid black;
padding-top: 60px;
}

#indexbody {
         background-image: url('bg.gif');
         background-color: #161616;
         background-repeat: repeat;
         background-size: 100% 100%;
         background-attachment: fixed;s
            width: 100%;
            background-size: cover;

          }


@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
       
/*index contents*/
.first {
background-image: url('firstbg.jpg');
         background-color: #161616;
         background-repeat: repeat;
         background-size: 50%;
         height: 290px;
position: absolute;
width: 108vw;
padding-top: 17%;

border: 2px solid black;
text-align: center;
}
#indexbody {
         background-image: url('bg.gif');
         background-color: #161616;
         background-repeat: repeat;
         background-size: 30vh 30vh;
         background-attachment: fixed;s
            width: 100%;
            background-size: cover;

          }


} 

/*웹 인트로

*/

.intro1 {
  float: left;
  width: 45vh;
  height: 9vh;
  font-size: 13px;
  background: white;
  padding: 30px;
  margin: 1vw;
  display: inline-block;
  position: relative;
  text-align:center;
  line-height: 150%;
  border: black 2px solid;
  margin-left: 20vw;
  word-break: keep-all;

}

.intro2 {
  float: left;
  width: 45vh;
  height: 9vh;
  font-size: 13px;
  background: white;
  padding: 30px;
  margin: 1vw;

  position: relative;
  text-align:center;
  line-height: 150%;
  border: black 2px solid;
  word-break: keep-all;
}

/*모바일*/


@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
.intro1 {
  float: left;
  width: 39.5vh;
  height: 7vh;
  font-size: 10px;
  background: white;
  padding-top: 2vh;

  display: block;
  position: relative;
  text-align:center;
  line-height: 150%;
  border: black 2px solid;
  margin: 1vh;
  padding-bottom: 2vh;
    word-break: keep-all;


}
.intro2 {
  float: left;
  width: 39.5vh;
  height: 10vh;
  font-size: 10px;
  background: white;
     padding-top: 2vh;

  display: block;
  position: relative;
  text-align:center;
  line-height: 150%;
  border: black 2px solid;
  margin:1vh;
  padding-bottom: 1vh;
  word-break: keep-all;

}
}



.intro1:hover {transform: translateX(3px);
  color: red;
 text-shadow: 0 0 24px;

}

.intlabel:hover {transform: translateX(3px);
  color: red;
 text-shadow: 0 0 24px;

}

.intro2:hover {transform: translateX(3px);
  color: red;
 text-shadow: 0 0 24px;

}
.intro2 a:hover {
  text-decoration: 1px;
}

.intro2 a:active {
  text-decoration: none;
  color: red;

}

.intro2 a:link{
color: red;
text-decoration: none;
}


.intro2 a:visited{
color: red;
text-decoration: none;

}



.gifbox {
  align-content: center;
  width: 90%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  margin-top:100px;
  padding-top: 200px;
  padding-bottom: 50px;

}

@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
  .gifbox {
  align-content: center;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  margin-top: 330px;
  padding-top: 50px;
  padding-bottom: 50px;

}

}

.imgBox {
min-width: 150px;
max-width: 400px;   
max-height: 10px; /*

        min-width: 200px; 
        max-width: 400px;
        */
         display: inline-block;
         position: flex;


    }

    @media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
.imgBox {
min-width: 70px;
max-width: 150px;   
max-height: 10px; /*

        min-width: 200px; 
        max-width: 400px;
        */
         display: inline-block;
         position: flex;


}

}



button {
  border: none;
  background-color: black;
}
/* Button used to open the contact form - fixed at the bottom of the page */


/* The popup form - hidden by default */
#layer {
  display: none;
  position: fixed;
  width: 100%;
  left: 0;
  padding: 20px;
  z-index: 99;
  top:6vh;
}

#layer #player {
  display:block; 
  margin:20px auto 0;}


/* Modal Content */
.inner{
  background-color: black;
  margin: auto;
  padding: 25px;
  border: none;
  width: 60%;
  color: #ffffff;
  position: relative;

}

/*video container*/
.cont {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  left: 0px;
}

.cont embed, .cont iframe {
position: absolute; width: 100%; left: 0px;
height: 100%; border: 0; top:-2vh;
}


.inner .close {
  color: #adadad;
  width: 50px;
  height: 50px;
  position:absolute; 
  display:block;
  line-height: 50px;
  right: 6vh;
  border: none;
  cursor: pointer;
  float: right;
  top: 2vh;
  font-size: 37px;
  }


/* Add some hover effects to buttons */
.inner .close:hover{
  color: #fff;
}

/*content box text*/

.inner h1{
  margin: 1px;
  text-align: center;
}

.inner p{
  text-align: center;

}



video {
  width: 100%;
  height: auto;

}



@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/

#layer {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 70px;
  overflow: auto;
  z-index: 99;
  text-align: left;
  padding-left: 0px;


}

.inner{
  background-color: black;
  margin: auto;
  border: none;
  padding:2vh;
  width: 100%;
  color: #ffffff;
  position: relative;
  font-size: 12px;
  text-align: left;

}

.inner .close {
  color: #adadad;
  width: 50px;
  height: 50px;
  position:absolute;
  display:block;
  line-height: 50px;
  border: none;
  cursor: pointer;
  float: right;
  top: 1vh;
  right: 8vh;
  margin-right: 4vh;
  margin-top: 1vh;
  font-size: 35px;
  z-index: 99;
}







.inner h1{
  margin: 10px;
  text-align: left;
    margin:2vh;
}

.inner p{
  text-align: left;
  margin:1vh;

}



.cont {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  left: 0px;
}

.cont embed, .cont iframe {
position: absolute; width: 90%; left: 0vh;
height: 100%; border: 0; top:-2vh;
}
}





.nav{
  width: 180px;
  height: 40px;
  padding: 10px;
  z-index: 99;
  position: fixed;
  border-radius: 100px;
  text-align: center;
  border: 2px solid black;
  font-size: 18px;
  line-height: 40px;
  color: black;
}

/* unvisited link */
.nav:link {
  text-decoration: none;
  color: black;
}

.nav:visited {
  color: black;
  text-decoration: none;
}

/* selected link */
.nav:active {
  text-decoration: none;
  font-weight: bold;
}

   @media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
.nav{
  width: 100px;
  height: 40px;
  padding: 5px;
  font-size: 18px;
}

/* unvisited link */
.nav:link {
  text-decoration: none;
  color: black;
}

.nav:visited {
  color: black;
  text-decoration: none;
}

/* selected link */
.nav:active {
  text-decoration: none;
  font-weight: bold;
}


}






#nav1{
  background: #4DB4FF;
  top: 0px;
  left: 0px;
  border-radius: 0px 100px 100px 0px;
  border-left: none;
}

   @media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
#nav1{
  background: #4DB4FF;
  top: 0px;
  left: 0px;
  border-radius: 0px 100px 100px 0px;
  border-left: none;
    line-height: 16px;
        padding-top: 10px;
    padding-bottom: -0px;
    font-size: 16px;
    z-index: 999;
}
}




      #nav1:hover {
        background-color: white;
        color: #4DB4FF;
        cursor: pointer;

      }

      #nav1:active {
        background-color: white;
        color: #4DB4FF;
        font-weight: bold;
      }





#nav2{
  right: 0px;
  top: 0px;
  background: #e364c8;
  border-radius: 100px 0px 0px 100px;
  border-right: none;

}

      #nav2:hover {
        background-color: white;
        color: #e364c8;
        }

#nav3{
  left: 0px;
  bottom: 0px;
 background: #fff100;
 border-radius: 0px 100px 100px 0px;
  border-left: none;

}


   @media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
#nav1{
  left: 0px;
  bottom: 0px;
 background: #4DB4FF;
 border-radius: 0px 100px 100px 0px;
  border-left: none;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: -0px;
        font-size: 16px;
}

#nav3{
  left: 0px;
  bottom: 0px;
 background: #fff100;
 border-radius: 0px 100px 100px 0px;
  border-left: none;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: -0px;
        font-size: 16px;
}
}





      #nav3:hover {
        background-color: white;
        color: #fff100;
        }

      #nav3:active {
        background-color: white;
        color: yellow;
        font-weight: bold;
      }





#nav4{
  right: 0px;
  bottom: 0px;
  background: #43E082;
  border-radius: 100px 0px 0px 100px;
  border-right: none;
}
      #nav4:hover {
        background-color: white;
        color: #43E082;
        }

      #nav4:active {
        background-color: white;
        color: #43E082;
        font-weight: bold;
      }

#marq1 {
  top:0;
  margin: 10px;
  position: fixed;
  z-index: 9;
}

#marq2 {
  bottom: 0;
  margin: 5px;
  position: fixed;
  z-index: 9;
}

.flex{
	display: flex;
  z-index: 9;

	}

.flex_item {
  margin: 12px 12px;
  padding: 5px 10px;
  line-height: 10px;
  width: auto;
  height: 10px;
  text-align: center;
  font-size: 15px; 
}

.flex_item:hover {
  color: red;
  text-decoration: none; text-shadow: 0 0 24px;
  /*text-decoration: underline overline;*/
}

#flex1 {
margin:0px;
}

#flex2 {
  margin:0px;
}

.container1{
  position: absolute;
  height: 50px;
  top:0px;
}

.container2{
  position: absolute;
  bottom: 50px;
  height: 10px;
}




/*GREEN*/

.hidden {height:100%; min-height:100%; overflow:hidden !important; touch-action:none;}

.column {
  line-height: 1.6;
  overflow-x: auto;


}

.column::-webkit-scrollbar-thumb {
width: 3px solid black;
}

.column::-webkit-scrollbar {
    width: 10px;
  }
  .column:-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  }
  .column:-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }


.marker:hover {
  background-color: yellow;
}

ol{
  margin-top: 20px;
  padding-top: 4.5vh;
  left: 1em;
  right: 1em;
  width: 1700px auto;

  display: initial;
  position: fixed;

  text-align: left;
  float: left;
  height: 30vh;



  column-count: auto;
  column-gap: 40px;
  column-rule: 1px solid black;
  column-span: all;
  column-width: 240px;
  overflow-x: auto;
  overflow-y: hidden;
  list-style-type:none;

    /* Can be replaced it with any other value*/

}

@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/

ol{
  top:2vh;
  left: 0.5em;
  right: 0.5em;
  width: 1800px auto;
  height: 30vh;

  display: initial;
  position: fixed;

  text-align: left;
  float: left;


  column-count: auto;
  column-gap: 40px;
  column-rule: 1px solid black;
  column-span: all;
  column-width: 17vh;
  overflow-x: auto;
  overflow-y: hidden;
  list-style-type:none;

    /* Can be replaced it with any other value*/

}

ul {
  font-size: 10pt;
  padding: 0px;
  position: relative;

}



}
/**/

sub {
     vertical-align: top; position: relative; bottom: -0.5em; 
    font-size: smaller;
}

sup {
     vertical-align: top; position: relative; top: -0.3em; 
    font-size: smaller;
    font-weight: bold;
}

ul {
  font-size: 0.8em;
  padding: 0px;
  position: relative;

}

hr {
  border: solid 0.1em black;

}


li.foot {
  margin-left: 4%;
  margin-right: 4%;
    list-style-type: upper-alpha;
    list-style-position: outside;
}

li {
  font-size: 0.8em;

}


li p {
  line-height: 160%;
  position: relative;
  margin-top: 0;
  text-align: left;

}


.column li a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;

}

.column li a:visited {
  color: black;
  background-color: white;
  font-weight: bold;
  text-decoration: none;
}

.column li a:hover {
  color: black;
  background-color: white;
  text-decoration: underline;
}

.column li a:active {
  color: red;
  text-decoration: none;
}

ul a:link {
  color: yellow;
  text-decoration: none;

}

ul a:visited {
 color: white;
  text-decoration: none; 
}

ul a:hover {
  color: blue;
  text-decoration: none;
}

ul a:active {
  color: red;
  text-decoration: none;
  font-weight: bold;
}



/*타임라인*/




.timeline {
    width: 357vh;
    height: 50vh;  
  float: left;
  position: fixed;
  display: inline;
  font-size: 12px;
  
  overflow-x:auto;
  overflow-y:hidden;

  background-image: url('bg_black.png');
         background-color: #161616;
         background-repeat: repeat;
         background-size: 49%;

  padding: 10px;
  text-align: center;
  bottom:0px;

}

.time{
  width: 100px;
  padding: 1px;
  display: flex;
}

#time1 {
  text-align: left;
  background-color: white;
  color: black;
  margin-bottom: 0px;
}

#time2 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}

#time3 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}

#time4 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}

#time5 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}
#time6 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}
#time7 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}

#time8 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}

#time9 {
  text-align: left;
  margin-left: 454px;
  background-color: white;
  color: black;
}

#time10 {
  text-align: left;
  margin-left: 454px;
  right: 0; 
  background-color: white;
  color: black;
}

.timeline hr{
  width: 4500px;
  color: #666;
  border: none;
  border: 1px solid;
  text-align: left;
}


@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
.timeline {
    width: 2300px;
    height: 35vh;
  float: left;
  position: absolute;
  display: inline;
font-size: 12pt;

  overflow: auto;
  background-image: url('bg_black.png');
         background-color: #161616;
         background-repeat: repeat;
         background-size: 100%;

}

}


.timeline1 {
  position: static;
  display: inline;
  width: 200%;
  float: left;
  margin-bottom: 1vh;


}

.timeline12 {
  position: static;
  display: inline;
  width: 200%;
  float: left;
    margin-bottom: 1vh;
}

.timeline2 {
  position: static;
  display: inline;
  width: 200%;
  float: left;
  margin-bottom: 1vh;
}


.timeline3 {
  position: static;
  display: inline;
  width: 200%;
  margin-bottom: 1vh;
  float: left;
}

.timeline4 {
  position: static;
  display: inline;
  width: 200%;
  margin-bottom: 1vh;
  float: left;
}

.timeline5 {
  position: static;
  display: inline;
  width: 200%;
  margin-bottom: 1vh;
  float: left;
}

.timeline6 {
  position: static;
  display: inline;
  width: 200%;
  margin-bottom: 1vh;
  float: left;
  margin-bottom: 8vh;

}

.timeline a:link{
color: black;
text-decoration: none;

}

.timeline a:hover{
color: black;
text-decoration: none;

}

.timeline a:active{
color: black;
text-decoration: none;

}

.timeline a:visited{
color: black;
text-decoration: none;

}



/*타임라인1*/


/*
#K5A:hover {
  background-image: url(mmkyhover/mmkyAhover.png);
  background-size:50px;
  background-repeat: no-repeat;

}
*/

#mmkyA1 {
  width: 25vh;
  float: left;
  margin-left: 100px;
  background-color: #90FF39;
}

#mmkyA1:hover {
  background-image: url(mmkyhover/A.png);
  background-size: 50px;
  background-repeat: no-repeat;

}

#mmkyA1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyA2 {
  width: 250vh;
  float: left;
  margin-left: 100px;
  background-color: #90FF39;
}

#mmkyA2:hover {
  background-image: url(mmkyhover/A.png);
  background-size:50px;
  background-repeat: no-repeat;

}


#mmkyA2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyB {
  width: 10vh;
  float: left;
  background-color: #FF9839;
}

#mmkyB:hover {
  background-image: url(mmkyhover/B.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyB:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyI {
  width: 25vh;
  float: left;
  margin-left: 100px;
  background-color: #FDB4FF;
}

#mmkyI:hover {
  background-image: url(mmkyhover/I1.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyI:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyC1 {
  width: 100vh;
  float: left;
  margin-left: 50px;
  background-color: #D2D2D2;
}

#mmkyC1:hover {
  background-image: url(mmkyhover/C.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyC1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyH1 {
  width: 10vh;
  float: left;
  margin-left: 8가0px;
  background-color: #FF6A6A;
}

#mmkyH1:hover {
  background-image: url(mmkyhover/H.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyH1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyH2 {
  width: 10vh;
  float: left;
  margin-left: 100px;
  background-color: #FF6A6A;
}

#mmkyH2:hover {
  background-image: url(mmkyhover/H.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyH2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyH3 {
  width: 10vh;
  float: left;
  margin-left: 8가0px;
  background-color: #FF6A6A;
}

#mmkyH3:hover {
  background-image: url(mmkyhover/H.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyH3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyH4 {
  width: 10vh;
  float: left;
  margin-left: 8가0px;
  background-color: #FF6A6A;
}

#mmkyH4:hover {
  background-image: url(mmkyhover/H.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyH4:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}





#mmkyC2 {
  width: 10vh;
  float: left;
  margin-left: 50px;
  background-color: #D2D2D2;
}

#mmkyC2:hover {
  background-image: url(mmkyhover/C.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyC2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyT6 {
  width: 10vh;
  float: left;
  margin-left: 50px;
  background-color: #2A3BD7;
}

#mmkyT6:hover {
  background-image: url(mmkyhover/T.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT6:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyR {
  width: 26vh;
  float: left;
  margin-left: 180px;
  background-color: #E0C741;
}

#mmkyR:hover {
  background-image: url(mmkyhover/R.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyR:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyD1 {
  width: 10vh;
  float: left;
  margin-left: 0px;
  background-color: #E21919;
}

#mmkyD1:hover {
  background-image: url(mmkyhover/D.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyD1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyW3 {
  width: 8vh;
  float: left;
  margin-left: 100px;
  background-color: #9b9b9b;
}

#mmkyW3:hover {
  background-image: url(mmkyhover/W.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyW3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyT1 {
  width: 10vh;
  float: left;
  margin-left: 100px;
  background-color: #2A3BD7;
}

#mmkyT1:hover {
  background-image: url(mmkyhover/T2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyT3 {
  width: 100px;
  float: left;
  margin-left: 10px;
  background-color: #2A3BD7;
}


#mmkyT3:hover {
  background-image: url(mmkyhover/T.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyT4 {
  width: 100px;
  float: left;
  margin-left: 10px;
  background-color: #2A3BD7;
}

#mmkyT4:hover {
  background-image: url(mmkyhover/T2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT4:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyT5 {
  width: 10vh;
  float: left;
  margin-left: 300px;
  background-color: #2A3BD7;
}

#mmkyT5:hover {
  background-image: url(mmkyhover/T2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT5:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyT7 {
  width: 10vh;
  float: left;
  margin-left: 20px;
  background-color: #2A3BD7;
}

#mmkyT7:hover {
  background-image: url(mmkyhover/T.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT7:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}





#mmkyT8 {
  width: 10vh;
  float: left;
  margin-left: 100px;
  background-color: #2A3BD7;
}


#mmkyT8:hover {
  background-image: url(mmkyhover/T2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT8:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyN1 {
  width: 18vh;
  float: left;
  margin-left: 150px;
  background-color: #00F3B9;
}


#mmkyN1:hover {
  background-image: url(mmkyhover/N.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyN1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyN4 {
  width: 18vh;
  float: left;
  margin-left: 50px;
  background-color: #00F3B9;
}

#mmkyN4:hover {
  background-image: url(mmkyhover/N.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyN4:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyN6 {
  width: 18vh;
  float: left;
  margin-left: 610px;
  background-color: #00F3B9;
}

#mmkyN6:hover {
  background-image: url(mmkyhover/N.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyN6:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyN2 {
  width: 13vh;
  float: left;
  margin-left: 130px;
  background-color: #00F3B9;
}


#mmkyN2:hover {
  background-image: url(mmkyhover/N.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyN2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


/*타임라인1.2*/
#mmkyT2 {
  width: 70vh;
  float: left;
  margin-left: 190px;
  background-color: #2A3BD7;
}

#mmkyT2:hover {
  background-image: url(mmkyhover/T2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

/*타임라인2*/

#mmkyE {
  width: 80vh;
  float: left;
  margin-left: 300px;
  background-color: #A36BFF;
}

#mmkyE:hover {
  background-image: url(mmkyhover/E.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyE:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyF {
  width: 30vh;
  float: left;
  margin-left: 20px;
  background-color: #FFF06A;
}

#mmkyF:hover {
  background-image: url(mmkyhover/F.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyF:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyX {
  width: 20vh;
  float: left;
  margin-left: 20px;
  background-color: yellow;
}

#mmkyX:hover {
  background-image: url(mmkyhover/X.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyX:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}





#mmkyT3 {
  width: 10vh;
  float: left;
  margin-left: 60px;
  background-color: #2A3BD7;
}

#mmkyT3:hover {
  background-image: url(mmkyhover/T.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyW1 {
  width: 8vh;
  float: left;
  margin-left: 10px;
  background-color: #9b9b9b;
}

#mmkyW1:hover {
  background-image: url(mmkyhover/W.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyW1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyW2 {
  width: 8vh;
  float: left;
  margin-left: 0px;
  background-color: #9b9b9b;
}

#mmkyW2:hover {
  background-image: url(mmkyhover/W.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyW2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


/*타임라인3*/

#mmkyM1 {
  width: 470px;
  float: left;
  margin-left: 700px;
  background-color: #FF5CB4;
}

#mmkyM1:hover {
  background-image: url(mmkyhover/M.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyM1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyM2 {
  width: 300px;
  float: left;
  margin-left: 3000px;
  background-color: #FF5CB4;
}

#mmkyM1:hover {
  background-image: url(mmkyhover/M.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyM1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyM3 {
  width: 15vh;
  float: left;
  margin-left: 100px;
  background-color: #FF5CB4;
}

#mmkyM3:hover {
  background-image: url(mmkyhover/M.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyM3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyO1 {
  width: 30vh;
  float: left;
  margin-left: 150px;
  background-color: #60BCFF;

}

#mmkyO1:hover {
  background-image: url(mmkyhover/O.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyO1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyM4 {
  width: 20vh;
  float: left;
  margin-left: 300px;
  background-color: #FF5CB4;
}

#mmkyM4:hover {
  background-image: url(mmkyhover/M.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyM4:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyM5 {
  width: 37vh;
  float: left;
  margin-left: 500px;
  background-color: #FF5CB4;
}
#mmkyM5:hover {
  background-image: url(mmkyhover/M.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyM5:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyL1 {
  width: 17vh;
  float: left;
  margin-left: 50px;
  background-color: #A36BFF;
}

#mmkyL1:hover {
  background-image: url(mmkyhover/L.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyL1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyL2 {
  width: 17vh;
  float: left;
  margin-left: 30px;
  background-color: #A36BFF;
}

#mmkyL2:hover {
  background-image: url(mmkyhover/L2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyL2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyU {
  width: 7vh;
  float: left;
  margin-left: 0px;
  background-color: #00FFF0;
}

#mmkyU:hover {
  background-image: url(mmkyhover/U.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyU:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyV {
  width: 20vh;
  float: left;
  margin-left: 100px;
  background-color: #FF8515;
}


#mmkyV:hover {
  background-image: url(mmkyhover/V.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyV:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyD2 {
  width: 10vh;
  float: left;
  margin-left: 100px;
  background-color: #E21919;
}

#mmkyD2:hover {
  background-image: url(mmkyhover/D.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyD2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyJ1 {
  width: 10vh;
  float: left;
  margin-left: 100px;
  background-color: #43A84D;
}

#mmkyJ1:hover {
  background-image: url(mmkyhover/J.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyJ1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyJ2 {
  width: 10vh;
  float: left;
  margin-left: 80px;
  background-color: #43A84D;
}

#mmkyJ2:hover {
  background-image: url(mmkyhover/J.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyJ2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyZ2 {
  width: 23vh;
  float: left;
  margin-left: 100px;
  background-color: #ffd39b;
}


#mmkyZ2:hover {
  background-image: url(mmkyhover/Z.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyZ2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyZ3 {
  width: 23vh;
  float: left;
  margin-left: 1000px;
  background-color: #ffd39b;
}

#mmkyZ3:hover {
  background-image: url(mmkyhover/Z.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyZ3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




/*타임라인4*/

#mmkyS1 {
  width: 13vh;
  float: left;
  margin-left: 300px;
  background-color: #B6A99E;
}

#mmkyS1:hover {
  background-image: url(mmkyhover/S.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyS1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyS2 {
  width: 13vh;
  float: left;
  margin-left: 30px;
  background-color: #B6A99E;
}
#mmkyS2:hover {
  background-image: url(mmkyhover/S.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyS2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyS3 {
  width: 13vh;
  float: left;
  margin-left: 30px;
  background-color: #B6A99E;
}

#mmkyS3:hover {
  background-image: url(mmkyhover/S.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyS3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyT4 {
  width: 50vh;
  float: left;
  margin-left: 400px;
  background-color: #2A3BD7;
}

#mmkyT4:hover {
  background-image: url(mmkyhover/T2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyT4:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyG1 {
  width: 20vh;
  float: left;
  margin-left: 30px;
  background-color: #FAFF00;
}

#mmkyG1:hover {
  background-image: url(mmkyhover/G.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyG1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyG2 {
  width: 10vh;
  float: left;
  margin-left: 300px;
  background-color: #FAFF00;
}

#mmkyG2:hover {
  background-image: url(mmkyhover/G.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyG2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyQ {
  width: 25vh;
  float: left;
  margin-left: 50px;
  background-color: #4292BF;
}

#mmkyQ:hover {
  background-image: url(mmkyhover/Q.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyQ:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



/*타임라인5*/

#mmkyM2 {
  width: 13vh;
  float: left;
  margin-left: 50px;
  background-color: #FF5CB4;
}

#mmkyM2:hover {
  background-image: url(mmkyhover/M.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyM2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyO2 {
  width: 70vh;
  float: left;
  margin-left: 1000px;
  background-color: #60BCFF;
}

#mmkyO2:hover {
  background-image: url(mmkyhover/O.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyO2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyP1 {
  width: 20vh;
  float: left;
  margin-left: 30px; 
  background-color: #00BF64;
}

#mmkyP1:hover {
  background-image: url(mmkyhover/P.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyP1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}





#mmkyP2 {
  width: 20vh;
  float: left;
  margin-left: 10px; 
  background-color: #00BF64;
}


#mmkyP2:hover {
  background-image: url(mmkyhover/P.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyP2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyP3 {
  width: 15vh;
  float: left;
  margin-left: 10px; 
  background-color: #00BF64;
}


#mmkyP3:hover {
  background-image: url(mmkyhover/P.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyP3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



#mmkyP4 {
  width: 25vh;
  float: left;
  margin-left: 2000px;
  background-color: #00BF64;
}


#mmkyP4:hover {
  background-image: url(mmkyhover/P.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyP4:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}



/*타임라인6*/

#mmkyK1 {
  width: 80vh;
  float: left;
  margin-left: 50px;
  background-color: #FFFFFF;
}

#mmkyK1:hover {
  background-image: url(mmkyhover/K.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyK1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}




#mmkyK2 {
  width: 30vh;
  float: left;
  margin-left: 50px;
  background-color: #FFFFFF;
}


#mmkyK2:hover {
  background-image: url(mmkyhover/K2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyK2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


/*타임라인7*/

#mmkyK3 {
  width: 80vh;
  float: left;
  margin-left: 1100px;

  background-color: #FFFFFF;
}

#mmkyK3:hover {
  background-image: url(mmkyhover/K.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyK3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}

#mmkyK4 {
  width: 60vh;
  float: left;
  margin-left: 150px;
  background-color: #FFFFFF;
}

#mmkyK4:hover {
  background-image: url(mmkyhover/K2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyK4:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyK5 {
  width: 130vh;
  float: left;
  margin-left: 100px;
  background-color: #FFFFFF;
}

#mmkyK5:hover {
  background-image: url(mmkyhover/K.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyK5:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyK6 {
  width: 60vh;
  float: left;
  margin-left: 50px;
  background-color: #FFFFFF;
}
#mmkyK6:hover {
  background-image: url(mmkyhover/K2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyK6:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


/*타임라인8*/
#mmkyY1 {
  width: 8vh;
  float: left;
  margin-left: 100px;
  background-color: #FF6B00;
}

#mmkyY1:hover {
  background-image: url(mmkyhover/Y1.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyY1:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyY2 {
  width: 20vh;
  float: left;
  margin-left: 30px;
  background-color: #FF6B00;
}

#mmkyY2:hover {
  background-image: url(mmkyhover/Y2.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyY2:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#mmkyY3 {
  width: 22vh;
  float: left;
  margin-left: 100px;
  background-color: #FF6B00;
}

#mmkyY3:hover {
  background-image: url(mmkyhover/Y3.png);
  background-size:50px;
  background-repeat: no-repeat;

}

#mmkyY3:active {
 box-shadow: 0 5px #43E082; transform: translateY(3px); background-color: #e364c8; 
}


#pdf {
  margin-top: 2.5%;
  position: relative;
  margin-bottom: 2.5%;
  width: 100%;
  height: 100%;
  z-index: 2;
}


#pdf embed{
   width: 800px;
  height:800px; 
  overflow: auto;
}

#new {
  background-color: #fff100;
  transition: all ease 0.7s;
  bottom:0px;
  width: 60px; 
  position: absolute; 
  height: 60px; 
  top: 0em; 
  right: 20%; 
  text-align: center;  
  padding: 1%;
  z-index: 10;
  cursor: pointer;
}


@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/


#pdf {
  z-index:9;
  margin-top: 6%;
  position: relative;
  margin-bottom: 2.5%;
}

#pdf embed{
  width: 300px;
  height: 70vh;
}

#new {
  background-color: #fff100;
  transition: all ease 0.7s;
  bottom:0px;
  width: 60px; 
  position: absolute; 
  height: 60px; 
  top: 3em; 
  right: 1vh; 
  text-align: center; 
  display: inline-block; 
  padding: 1%;
  z-index: 10;
    word-break: keep-all;

}
}
/**/


.gifm {
  cursor: pointer;
}

#new:hover {
  background-color: black;
  color: white;
  border-radius: 50px;

}

#new:active {
  background-color: black 0.3s;

}

#new:active { box-shadow: 0 5px #43E082; transform: translateY(4px); background-color: #e364c8; }




.gifm {
  position: fixed;
  animation: dynamic 5s;
  z-index: 5;

}

.gifm:hover { animation-play-state: paused; }

#gifm1 { 
  top: 200px;
  animation-name: gifmove1;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-duration: 47s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes gifmove1 {
  0% {left: -20%;}
  100% {left: 130%;}

}


#gifm2 { 
  right: 0; 

  bottom: 50px;

  animation-name: gifmove2;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes gifmove2 {
  0% {right:  0%;}
  5%  {right: 5%;}
  10% {right: 10%;}
  15% {right: 15%;}
  20% {right: 20%;}
  25% {right: 25%;}
  30% {right: 30%;}
  35% {right: 35%;}
  40% {right: 40%;}
  45% {right: 45%;}
  50% {right: 50%;}
  55% {right: 55%;}
  60% {right: 60%;}
  65% {right: 65%;}
  70% {right: 70%;}
  75% {right: 75%;}
  80% {right: 80%;}
  85% {right: 85%;}
  90% {right: 90%;}
  95% {right: 95%;}
  100% {right: 100%;}
}

#gifm3 {
  left: 300px;
  opacity: 0;
  animation: gifmove3 4.5s;
  animation-name: gifmove3;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;


}

@keyframes gifmove3 {
  0% {top: 0%; opacity: 1;}
  99% {top: 40%; opacity: 1;}
  100% {top: 40%; opacity: 0;}

}

#gifm4 {
  right: 50px;
  top: 10px;

  animation-name: gifmove4;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
    animation-fill-mode: backwards;

}

@keyframes gifmove4 {
  0% {top:0%; right: 10%;}
  20%{top:20%; right: 10%;}
  40%{top:20%; right: 30%;}
  60%{top:0%; right: 20%;}
  80%{top:2%; right: 40%;}
  100% {top:-20%; right: 40%;}


}

#gifm5 {
  right: 30%;
  bottom: : 10px;

  animation-name: gifmove5;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-delay: 6s;
    animation-fill-mode: backwards;

}

@keyframes gifmove5 {
  0% {bottom:-10%; left: 40%;}
  20%{bottom: 20%; left: 40%;}
  40%{bottom:30%; left: 50%;}
  60%{bottom:50%; left: 70%; }
  80%{bottom:80%; left: 50%;}
  100% {bottom:100%; left: 20%;}


}

#gifm6 {
  top: 10px;
  left: 400px;
  animation-name: gifmove6;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-duration: 15s;
  animation-iteration-count: infinite;
    animation-fill-mode: backwards;

}

@keyframes gifmove6 {
  0% {top: 10%;}
  20%{top: 10%; right: 40%;}
  40%{top: 50%; left: 40%;}
  60%{top: 20%; left: 20%; }
  80%{top: 20%; left: 30%; }
  100% {top: 10%; left: 20%;}


}

#gifm7 { 
  right: 200px;
  bottom: 150px;
  animation-name: gifmove7;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

@keyframes gifmove7 {
  0% {right: -20%;}
  25% {right: 30%;}
  35% {right: 35%; }
  100% {right: 130%;}

}

#gifm8 {
margin: 1%; 
  animation-name: gifmove8;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  transition: none;
}

@keyframes gifmove8 {
  0%   {left: 0%; top: 0%;}
  25% {transform: none;}
  26%  {left: 95%; top: 0%; transform: rotate( 90deg);}
  50%  {left: 95%; top: 85%; transform: rotate( 90deg);}
  51%  {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);}
  75%  {left: 0%; top: 85%; transform: none;
      -webkit-transform: scaleX(-1);
    transform: scaleX(-1);}
  76%  {transform: rotate( -90deg);}
  100% {left: 0%; top: 0%; transform: rotate( -90deg);}

}

.gifs {
    position: fixed;
  z-index: 999;
}

#gifm9 {
 top:500px;
left: 80px;

}


#gifm10 {
  bottom: 100px;
  left: 100px;
  
}

#gifm11 {
 right:200px;
 bottom:500px;


}


#gifm12 {
  bottom: 200px;
  right:300px;
  
}

#gifm13 {
left:30px;
 bottom:100px;


}


#gifm14 {
  bottom: 40vh;
  right:10vh;
  
}


#gifm15 {
 right:10px;
 bottom:240px;


}


#gifm16 {
  top: 230px;
  right:500px;
  
}

@media (max-width:600px){

.gifm {
  z-index: 1;
}

#gifm9 {
 top:10px;
left: 80px;

}

#gifm10 {
  bottom: 10vh;
  left: 2vh;
  
}


#gifm11 {
 right:10px;
 bottom:40px;


}


#gifm13 {
left:3vh;
 top:39vh;


}


#gifm14 {
  top: 50px;
  left:1px;
}



#gifm15 {
right:1px;
 top:20vh;

}


}




#footer {
    padding-top: 20px; 
    padding-bottom: 30px;
    bottom:0;
    height: 150px;
    border-radius: 30px 30px 0px 0px;
    background-color: black;
    color: white;
    left:0px;
    display: block;
    text-align: center;
}

#footer a:link{
color:white;
text-decoration: none;
}

#footer a:active{
  color:white;
  text-decoration: none;
}

#footer a:visited{
  color:white;
  text-decoration: none;
}

#name {
  color: #43E082;
}

#insta a:hover {
  color: #4DB4FF;
}

#behance a:hover {
  color: #e364c8; 
}

#hknu {
  font-size: 10pt;
}

#hknu a:hover {
  color: #fff100;
}

#TopButton a:hover {
  width: 0px;
  height: 30px;
  background: #43E082;
  border-radius: 10px 10px 0px 0px;
  line-height: 10px;
}

a.top {

}

/*
flex-grow 플렉스 아이템이 컨테이너 안에서 차지하는 크기의 정도. 기본값이 0 1로 설정하면 컨테이너 크기만큼 꽉찬 아이템을 그릴 수 있음
flex-basis 플렉스 아이템 크기 지정값
flex-grow, flex-shrik 늘어나는 정도 0을 주면 변동x
https://velog.io/@mokyoungg/CSS-Flex-%EC%86%8D%EC%84%B1-%EC%A0%95%EB%A6%AC
*/